.pricing {
    --gap: 0.1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1.67px solid var(--primary-500);
    font-size: 16.17px;
    text-transform: uppercase;
    text-align: center;
}

.dotted-line {
    width: 50%;
    border: none;
    border-bottom: 4px dotted var(--accent-500);
}

.total-pricing {
    background-color: var(--primary-600);
}
