.fieldset {
    border: 1.33px solid var(--primary-600);

    button {
        padding-inline: 2rem;
        padding-block: 0.2rem;
        font-size: 10.03px;
        text-transform: uppercase;
    }
}

.form-label {
    font-size: 16.67px;
}

input {
    display: block;
    position: relative;
    border-radius: 1rem;
    background-color: var(--accent-500);

    &::before {
        content: '';
        width: 100%;
        top: 5px;
        left: 5px;
        border: 1.33px solid var(--primary-600);
        background-color: transparent;
        z-index: -1;
    }
}
