.featured {
    --gap: 0;
    grid-template-columns: repeat(3, 1fr);
}

.image-container {
    border: 0.67px solid var(--primary-500);
    border-radius: 4px 0 4px 4px;
    grid-row: 1 / span 3;
}

.image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.title {
    grid-column: span 2;
    text-transform: uppercase;
    align-content: center;
    background-color: var(--primary-600);
    color: var(--accent-500);
    border: 0.67px solid var(--primary-500);
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    padding-left: 0.95rem;
}

.description {
    grid-column: span 2;
    font-size: 8.67px;
    padding-inline: 0.95rem;
    padding-top: 0.95rem;
    padding-bottom: 0.5rem;
}

.btn-more {
    width: 62.39px;
    height: 14.01px;
    border: 1.60px solid var(--accent-500);
    border-radius: 4px;
    background-color: transparent;
    color: var(--accent-500);
    font-size: 6.67px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-left: 0.95rem;
    grid-row: 3;
    align-content: center;
    align-self: end;

    &:hover {
        background-color: var(--accent-500);
        color: black;
    }
}
