.header {
    padding-inline: 1rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--accent-500);
}

.header-logos {
    padding-inline: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.user {
    width: 18px;
    height: 25px;
}

.cart-section {
    position: relative;
}

.cart {
    width: 28px;
    height: 25px;
}

.cart-amount {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 16px;
    background-color: var(--primary-600);
    color: var(--accent-500);
    border-radius: 50%;
    font-size: 8px;
    align-content: center;
    text-align: center;
    aspect-ratio: 1;

    &.hidden {
        visibility: hidden;
    }
}

.fitzgerald {
    width: 109.44px;
    height: 36.94px;
}

.ruler {
    height: 2px;
    width: 55%;
    margin-inline: auto;
    margin-block: 1rem;
    background-color: black;

    &:has(+.banner) {
        margin-bottom: 2rem;
    }
}

.location {
    color: var(--primary-600);
    font-size: 33.33px;
    text-transform: uppercase;
    text-align: center;
}
