.banner {
    justify-content: start;
    width: 95%;
    height: 141px;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding-block: 1.15rem;
    border: 0.67px solid var(--primary-600);
    border-radius: 5px;
    background: linear-gradient(to left, transparent 40%, var(--primary-600) 55%), no-repeat center url("/Banner.png");
    background-size: cover;
    text-transform: uppercase;
    text-align: center;
}

.banner-content {
    --gap: 0;
    width: 45%;
}

.banner-subtitle {
    font-size: 20.02px;
}

.banner-title {
    font-size: 33.36px;
}

.btn-banner {
    width: 56.49px;
    height: 17.15px;
    margin-inline: auto;
    border-radius: 5px;
    background-color: var(--accent-500);
    color: var(--primary-600);
    font-size: 5.91px;
    text-decoration: none;
    align-content: center;

    &:hover {
        border: 1.6px solid var(--accent-500);
        background-color: var(--primary-600);
        color: var(--accent-500);
    }
}
